.container{
    margin-bottom: 100px;
}
.bg-slide{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
}
.cat1{
    background-image: linear-gradient(to right, #FF9C35 0%, #FFD019 100%);
}
.cat2{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.cat3{
    background-image: linear-gradient(to bottom, #4289FF 0%, #3F07F8 100%);
}
.categories{
    margin-top: 20px;
}
.categories img{
    width: 100px;
}
.menu{
    margin-top: 30px;
    margin-bottom: 30px;
}
.product-top{
    margin: 20px 0px;
}
.product-top h5{
    color:#FF9C35;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray; 
    text-align: center;
    padding: 20px;
}
.subscribe{
    background-color: #feeae9;
    border-radius: 10px;
    height: 350px;
    text-align: center;
    margin-top: 100px;
}
.sub-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 20px;
    cursor: pointer;
}
input{
    border: 3px solid white;
}
.midle-bg{
    background-color: #F4F4F4;
    padding-top: 100px;
    padding-bottom: 60px;
}