.container{
    margin-bottom: 35px;
}
.bg-slide{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}